.snackbar-success {
    background-color: #4caf50; // Green for success
    color: white;
  }
  
  .snackbar-info {
    background-color: #2196f3; // Blue for info
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336; // Red for error
    color: white;
  }
  